@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-violet: #821cffff;
  --clr-rose: #ff25a8ff;
  --clr-yellow: #ffe017ff;
  --clr-crayola: #00a5dcff;
  --clr-turquoise: #00d7bbff;
}
